@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Noto+Sans+KR&family=Open+Sans:wdth,wght@86,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nanumsquare";
  src: url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css")
    format("css");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
	min-height: 100%;
	overflow-x: hidden;
	width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  font-family: 'Dosis', sans-serif;
}
